* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

p h1 h2 h3 h4 h5 h6 div span {
  font-family: "Montserrat", sans-serif;
}

.active_link {
  border-bottom: 3px solid yellowgreen;
}
